extends ../../pug/layout/layout
block header
    include ../header
    section.catalog
      .catalog__header
        h1 Каталог товаров
block goods
  include ../goods
block video
  include ../video
block socio
    include ../socio
block developers
    include ../developers