extends ../../pug/layout/layout
block header
    include ../header
    section.form-intro
        .form-intro__header.intro__header
            h1 Вязание на заказ
        p.form-intro__text Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
block form
    include ../form
block footer
    include ../footer
                
                        