extends ../../pug/layout/layout
block header
    include ../header
    section.form-intro
        .form-intro__header
            h1 Вязание на заказ
            p Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
block form
    include ../form
block socio
    include ../socio
block developers
    include ../developers
                
                        