extends ../../pug/layout/layout
block header
    include ../header
block promo
    include ../promo
block week
    include ../week
block about-us
    include ../about-us
block feedback
    include ../feedback
block contacts
    include ../contacts
block map
    include ../map
block write-us
    include ../write-us
block socio
    include ../socio
block developers
    include ../developers
   

