section.about-us
    h2.about-us__header Коротко о нас:
    .about-u.opinion
        img.opinion__img(src="#" alt="Картинка о нас")
        p.opinion__text Экологически чистые материалы
    .about-u.opinion
        img.opinion__img(src="#" alt="Картинка о нас")
        p.opinion__text Скандинавский стиль по российской цене
    .about-u.opinion
        img.opinion__img(src="#" alt="Картинка о нас")
        p.opinion__text Увеличивает лайки на фотографиях
    .about-u.opinion
        img.opinion__img(src="#" alt="Картинка о нас")
        p.opinion__text Связано в ручную с любовью и умилением
    .about-u.opinion
        img.opinion__img(src="#" alt="Картинка о нас")
        p.opinion__text Поддержка отечественного производителя
    .about-u.opinion
        img.opinion__img(src="#" alt="Картинка о нас")
        p.opinion__text Поставляется в подарочной упаковке
        