section.about-us
  h2.about-us__header Коротко о нас:
  .opinion
    .opinion__img
      img(src="img/icon-feature-1.svg" alt="Картинка о нас")
    p.opinion__text Экологически чистые материалы
  .opinion
    .opinion__img
      img(src="img/icon-feature-3.svg" alt="Картинка о нас")
    p.opinion__text Скандинавский стиль по российской цене
  .opinion
    .opinion__img
      img(src="img/icon-feature-5.svg" alt="Картинка о нас")
    p.opinion__text Увеличивает лайки на фотографиях
  .opinion
    .opinion__img
      img(src="img/icon-feature-2.svg" alt="Картинка о нас")
    p.opinion__text Связано в ручную с любовью и умилением
  .opinion
    .opinion__img
      img(src="img/icon-feature-4.svg" alt="Картинка о нас")
    p.opinion__text Поддержка отечественного производителя
  .opinion
    .opinion__img
      img(src="img/icon-feature-6.svg" alt="Картинка о нас")
    p.opinion__text Поставляется в подарочной упаковке
