section.contacts
    h2 Контакты
    .contacts__table
        .contacts__row
            p.row__header e-mail
            p.contacts__email info@mimimishkashop.ru
        .contacts__row
            p.row__header адрес
            p.contacts__address г. Санкт-Петербург, ул. Большая Конюшенная, д. 19/8, офис 101