section.feedback
    h2 Отзывы
    .slider
        .slider__block
            p.slider__text Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
            p.slider__author Анастасия Красильникова
            p.slider__twitter @misssssiskras
    .slider__btn-block
        .btn-block__btn.btn-block__btn--left
            img(src="#")
        .btn-block__btn.btn-block__btn--right
            img(src="#")
    .btn.slider__btn
        a(href="#") Написать
    
    