section.form-block
    form.form
        legend.type Тип
        .form-block.radio-group
            .radio-block
              input(type="radio" class="radio" id="accessory" name="accessory")
              label(for="accessory") 
              p Аксессуар для интерьера
            .radio-block
              input(type="radio" class="radio" id="toy" name="toy" value="toy")
              label(for="toy")
              p Детская игрушка
        legend.color Цвет
        .form-block.checkbox-group
          .checkbox-block
            input(type="checkbox" class="checkbox" id="white" name="white" value="white")
            label(for="white")
            p Белый
          .checkbox-block
            input(type="checkbox" class="checkbox" id="gray" name="gray" value="gray")
            label(for="gray") 
            p Серый
          .checkbox-block
            input(type="checkbox" class="checkbox" id="tiffany" name="tiffany" value="tiffany")
            label(for="tiffany") 
            p "Тиффани"
          .checkbox-block
            input(type="checkbox" class="checkbox" id="black" value="black" name="black")
            label(for="black") 
            p Черный
          .checkbox-block
            input(type="checkbox" class="checkbox" id="pink" name="pink" value="pink")
            label(for="pink") 
            p Розовый
          .checkbox-block
            input(type="checkbox" class="checkbox" id="orange" name="orange" value="orange")
            label(for="orange") 
            p Оранжевый
        legend.person ФИО
        .form-block.person-group
            .person-group__block
                label(for="name") Имя
                input(type="text" id="name" placeholder="Введите ваше имя") 
            .person-group__block
                label(for="surname") Фамилия
                input(type="text" id="surname" placeholder="Укажите фамилию")
            .person-group__block
                label(for="acronym") Отчество
                input(type="text" id="acronym" placeholder="Отчество, если пожелаете")
        legend.legend__tel ТЕЛ
        .form-block.contacts-group
            .contacts-group__block
                .contacts__tel
                  input(type="tel" id="tel" class="tel" name="tel" placeholder="+7 ХХХ ХХ ХХ*")
                  label(for="tel")
                      img(src="img/icon-phone.svg" alt="Иконка телефона")
        legend.legend__email e-mail
        .form-block.contacts-group.contacts-group--email
             .contacts-group__block
                .contacts__email
                  input(type="email" id="email" class="email" name="email" placeholder="Ваш Email*")
                  label(for="email")
                      img(src="img/icon-mail.svg" alt="Иконка почты")
        legend.legend__additional ДОП
        .contacts__message
           textarea(placeholder="Опишите все ваши пожелания к заказу")
    p.form__attention *Поля обязательны для заполнения
    a.btn.btn__confirm(href="#") Отправить заказ


