section.goods
    .good
        .good__img
            picture
                source(media="(min-width: 1200px)" srcset="img/photo-1-desktop@1x.jpg 1x, img/photo-1-desktop@2x.jpg 2x")
                source(media="(min-width: 768px)" srcset="img/photo-1-tablet@1x.jpg 1x, img/photo-1-tablet@2x.jpg 2x")
                img(src="img/photo-1-mobile@1x.jpg" srcset="img/photo-1-mobile@2x.jpg 2x" alt="Фото товара")
        .good__description
            .good__text
                h2.good__name Зайчик попрыгайчик
                p.good__descr Рост 30 см, вес 200 г.
            .good__cart
                p.cart__price 1200 руб.
                svg(width="21" height="18")
                    use(xlink:href='img/icons/symbols.svg#icon-cart')
                //img.cart__img(src="img/icon-cart.svg" alt="Иконка корзины")
    .good
        .good__img
            picture
                source(media="(min-width: 1200px)" srcset="img/photo-2-desktop@1x.jpg 1x, img/photo-2-desktop@2x.jpg 2x")
                source(media="(min-width: 768px)" srcset="img/photo-2-tablet@1x.jpg 1x, img/photo-2-tablet@2x.jpg 2x")
                img(src="img/photo-2-mobile@1x.jpg" srcset="img/photo-2-mobile@2x.jpg 2x" alt="Фото товара")
        .good__description
            .good__text
                h2.good__name Корзинка для белья
                p.good__descr Диаметр 15 см, высота 10 см
            .good__cart
                p.cart__price 690 руб.
                svg(width="21" height="18")
                    use(xlink:href='img/icons/symbols.svg#icon-cart')
                //img.cart__img(src="img/icon-cart.svg" alt="Иконка корзины")
    .good
        .good__img
            picture
                source(media="(min-width: 1200px)" srcset="img/photo-3-desktop@1x.jpg 1x, img/photo-3-desktop@2x.jpg 2x")
                source(media="(min-width: 768px)" srcset="img/photo-3-tablet@1x.jpg 1x, img/photo-3-tablet@2x.jpg 2x")
                img(src="img/photo-3-mobile@1x.jpg" srcset="img/photo-3-mobile@2x.jpg 2x" alt="Фото товара")
        .good__description
            .good__text.good__text--last
                h2.good__name Большая корзинка для игрушек
                p.good__descr Диаметр 30 см, высота 30 см
            .good__cart
                p.cart__price 1500 руб.
                svg(width="21" height="18")
                    use(xlink:href='img/icons/symbols.svg#icon-cart')
                //img.cart__img(src="img/icon-cart.svg" alt="Иконка корзины")
      
      
      
    