section.goods
  .good
    .good__img
      img(src="#" alt="Фото товара")
    .good__text
      h2.good__name Зайчик попрыгайчик
      p.good__descr Рост 30 см, вес 200 г.
    .good__cart
      p.cart__price 1200 руб.
      img.cart__img(src="#" alt="Иконка корзины")
  .good
    .good__img
      img(src="#" alt="Фото товара")
    .good__text
      h2.good__name Корзинка для белья
      p.good__descr Диаметр 15 см, высота 10 см
    .good__cart
      p.cart__price 690 руб.
      img.cart__img(src="#" alt="Иконка корзины")
  .good
    .good__img
      img(src="#" alt="Фото товара")
    .good__text
      h2.good__name Большая корзинка для игрушек
      p.good__descr Диаметр 30 см, высота 30 см
    .good__cart
      p.cart__price 1500 руб.
      img.cart__img(src="#" alt="Иконка корзины")
      
      
      
    