section.page-header
    .header__inner
      .header__logo
        picture
          source(media="(min-width: 1200px)" srcset="img/logo-desktop.svg")
          source(media="(min-width: 768px)" srcset="img/logo-tablet.svg")
          img(src="img/logo-mobile.svg" alt="Логотип")
      button.toogler(type="button")
      nav.header__nav.header__nav--closed
          each item in ["main","main","main","main","main"] 
            li(class="nav__item")
              a(class=`link-${item}`)=item