section.promo
    h1.promo__header Милые штуки ручной работы для дома
    .promo__promo-block.promo__promo-block--home
        h2.promo-block__header Предметы интерьера
        svg(width="41" height="62")
            use(xlink:href="img/icons/symbols.svg#icon-interior")
    .promo__promo-block.promo__promo-block--toys
        h2.promo-block__header Детские игрушки
        svg(width="60" height="61")
            use(xlink:href="img/icons/symbols.svg#icon-toy")