section.promo
    h1.promo__header Милые штуки ручной работы для дома
    .promo__promo-block.promo__promo-block--home
        h2.promo-block__header Предметы интерьера
        img(src="img/icon-interior.svg" alt="Изображение")
    .promo__promo-block.promo__promo-block--toys
        h2.promo-block__header Детские игрушки
        img(src="img/icon-toy.svg" alt="Изображение")