section.socio
    .socio__icon
        img(src="img/icons/icon-insta.svg" alt="Социальная иконка")
    .socio__icon
        img(src="img/icons/icon-fb.svg" alt="Социальная иконка")
    .socio__icon
        img(src="img/icons/icon-twitter.svg" alt="Социальная иконка")