section.video
    .video__header
        img(src="img/icon-video.svg" alt="Иконка")
        h2 Процесс производства
    .video__screen
        picture
        source(media="(min-width: 1200px)" srcset="img/video-desktop@1x.jpg 1x, img/video-desktop@2x.jpg 2x")
        source(media="(min-width: 768px)" srcset="img/video-tablet@1x.jpg 1x, img/video-tablet@2x.jpg 2x")
        img(src="img/video-mobile@1x.jpg" srcset="img/video-mobile@2x.jpg 2x" alt="Фото товара")
        img.video__play(src="img/icon-play.svg" alt="Проиграть")
    .video__text
        p По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
    a.video__button.btn(href="#") Сделать заказ