section.video
  .video__header
    img(src="#" alt="Иконка")
    h2 Процесс производства
  .video__screen
    img(src="#" alt="Проиграть")
  .video__text
    p По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
  .video__button.btn
    a(href="#") Сделать заказ