section.week
    h2.week__god-name Вязанные корзинки
    h3.week__god-week Товар недели
    p.week__text Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
    .week__table
        .table__row
            p.table__head Цвет:
            p.table__head "Тиффани/серый"
        .table__row
            p.table__head Диаметр:
            p.table__head 25см
        .table__row
            p.table__head Высота:
            p.table__head 15см
        .week__god   
            .god__image
                img(src="#" alt="Товар недели")
            .god__price
                p Цена: 990 рублей
            .god__buy
                a(href="#") Купить
        
        
            