.contacts
{
  padding-left: 30px;
  &:before
  {
    content: url(../img/bg-zigzag-line.svg);
  }
  
  h2
  {
    margin-top: 24px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }
  .contacts__table
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 17px;
    
    .contacts__row
    {
      display: flex;
      flex-direction: row;
      padding-top: 9px;
      padding-bottom: 21px;
      color: #757575;
      color: #444444;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
    }
    .row__header
    {
      width: 25%;
      
      &:nth-child(2)
      {
        border-bottom: 1px solid #62d1ba;
      }
    }
    .contacts__email,
    .contacts__address
    {
      width: 50%;
    }
  }
}