.footer
{
    background: #f2f2f2;

    @media screen and ($tablet-widths)
    {
        display: flex;
        padding-left: 49px;
        padding-top: 57px;
        padding-bottom: 50px;
    }

    .footer__img
    {
        display: none;

        @media screen and ($tablet-widths)
        {
            display: block;
            margin: 0;

        }
    }
}