.goods
{
    width: 260px;
    margin: 0 auto;
}

.good
{
    margin-top: 30px;
    border: 1px solid #ececec;
    
    .good__name
    {
        padding-top: 23px;
        padding-bottom: 5px;
        text-align: center;
        color: #000000;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
    }
    .good__descr
    {
        padding-left: 32px;
        padding-bottom: 18px;
        color: #444444;
        font-size: 13px;
        font-weight: 400;
        line-height: 30px;
    }
    .good__cart
    {
        margin: 0 auto;
        padding-top: 22px;
        padding-bottom: 26px;
        border-top: 1px solid #ececec;
        width: 205px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .cart__price
        {
            padding-right: 114px;
            color: #000000;
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
        }
    }
    
}
