.page-header
{
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ededed;
  
  @media screen and ($tablet-widths)
  {
    
  }
}
.header__inner
{
  display: flex;
  flex-wrap: wrap;

  
  .header__logo
  {
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 18px;
    text-align: center;

    @media screen and ($tablet-widths)
    {
      margin: 0;
      text-align: inherit;
      padding-left: 49px;
      padding-right: 209px;
      padding-bottom: 15px;
    }
  }
  
  .header__nav
  {
    display: none;

    @media screen and ($tablet-widths)
    {
      display: flex;
      flex-wrap: wrap;

      ul
      {
        
        @media screen and ($tablet-widths)
        {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          list-style: none;
        }
        
        .nav__item
        {
           
          @media screen and ($tablet-widths)
          {
            display: flex;
            color: #000000;
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
          }
          
          .nav__link
          {
            @media screen and ($tablet-widths)
            {
              display: flex;
              position: absolute;
            }
            p
            {
              @media screen and ($tablet-widths)
              {
                display: flex;
                color: #000000;
                font-size: 15px;
                font-weight: 700;
                line-height: 24px;
              }
            }
          }
        }
        .nav-item--search
        {
          @media screen and ($tablet-widths)
          {
            position: absolute;
            left: 370px;
            padding-top: 36px;
            padding-bottom: 56px;
            padding-left: 33px;
            padding-right: 49px;
            border-left: 1px solid #ececec;
            border-right: 1px solid #ececec;
          }
          .nav-link--search
          {
            p
            {
              @media screen and ($tablet-widths)
              {
                display: none;
              }
            }
            img
            {
             // padding-left: 31px;
             // padding-right: 31px;
            }
          }
        }
        .nav-item--cart
        {
          @media screen and ($tablet-widths)
          {
            position: absolute;
            left: 485px;
            padding-top: 32px;
            padding-bottom: 56px;
            
          }
          
          .nav-link--cart
          {
            p
            {
              @media screen and ($tablet-widths)
              {
                display: block;
                padding-left: 31px;
              }
            }
            img
            {
              //padding-left: 31px;
              //padding-right: 31px;
            }
          }
        }
        .nav-item--catalog
        {
          position: absolute;
          left: 50px;
          top: 106px;
          
          .nav-link--catalog
          {
            width: 140px;
          }
        }
        .nav-item--order
        {
          position: absolute;
          left: 218px;
          top:106px;
          
          .nav-link--order
          {
            width: 140px;
          }
          
        }
      }
    }
  }
  .header__delivery
  {
    display: none;
    
    @media screen and ($tablet-widths)
    {
      display: block;
      position: absolute;
      top: 106px;
      left: 490px;
      color: #444444;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}