.socio
{
    margin: 0 auto;
    padding-left: 32px;
    width: 260px;
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    //justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    @media screen and ($tablet-widths)
    {
        margin: 0 auto;
        margin-left: 137px;
        //margin-right: 8px;
        padding: 0;
        border: 0;
    }

    .socio__icon
    {
        margin-left: 20px;
        margin-right: 20px;
    }
}